extends layout

block content
  div.container
    div.row
      div.col-md-4.login-box
        label Please Provide Username
        input.username.margin-right(type='text')
        button.btn.btn-primary.login-btn Login
        p.hidden.login-error.text-danger Please type your username into the field
    div.row.chat-box.hidden
      div.col-md-2.sidebar
        ul.user-list
      div.col-md-9.content-box
        div
          span.badge.badge-secondary.typing
          textarea.form-control.message-box
