.navbar-brand img {
	height: 30px;
	width: 30px;
}

.navbar {
	background-color: #80808080;
}

.hidden {
	display: none;
}

.margin-right {
	margin-right: 5px;
}

.margin-left {
	margin-left: 5px;
}

.message-box {
	position: absolute;
	bottom: 8px;
	width: 88%;
}



/* Imported CSS  */
.top-nav a {
	margin-right: 5px;
}

.margin-top-10 {
	margin-top: 10px;
}

.top-nav {
	margin-top: 10px;
	background-color: rgba(0, 0, 0, 0.35) !important;
    border-radius: 5px;
}

.chat-box {
	margin-top: 30px;
}

.sidebar {
	background-color: rgba(0, 0, 0, 0.35);
    border-radius: 5px;
    min-height: 400px;
    padding-top: 10px;
}

.content-box {
	background-color: rgba(0, 0, 0, 0.09);
    border-radius: 5px;
    min-height: 400px;
    margin-left: 10px;
    height: calc(100% - 18px);
}

.users-list {
	list-style-type: none;
	padding-left: 0px;
}

.users-list li {
	color: blue;
	cursor: pointer;
}